<h1><%= @landmark.name %></h1>
  <tr>	
    <th>Name</th>	
    <th>Year Completed</th>	<h2>Year Completed: <%= @landmark.year_completed %></h2>
  </tr>	
  <tr>	
    <td><%= @landmark.name %></td>	<a href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
